.contactItem {
  display: flex;
  justify-content: space-between;
  button {
    padding: 5px 15px;
    border: none;
    background: #7aa6d1;
    border-radius: 20px;
    margin: 5px 25px;
    cursor: pointer;
  }
  button:hover{
    background: rgb(230, 148, 135);
  }
}
.contactP {
  font-size: 15px;
  color: #100e0eb8;
}
